@model PaginatedList<DemoGenerateursEtValidation.Models.Auto>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste d'Autos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-action="Index" method="get"> 
    Recherche
    <input name="mot" />
    <input type="submit" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Marque
            </th>
            <th>
                Model
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{  
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
    asp-route-pageNumber="@(1)"
    asp-route-mot=@(ViewBag.Recherche)
    class="btn btn-default @prevDisabled">
        &lt;&lt; 
</a> 
<a asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-mot=@(ViewBag.Recherche)
    class="btn btn-default @prevDisabled">
        &lt; 	
</a> 
<a asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-mot=@(ViewBag.Recherche)
    class="btn btn-default @nextDisabled">
        &gt;	
	</a> 
<a asp-action="Index"
    asp-route-pageNumber="@(Model.TotalPages)"
    asp-route-mot=@(ViewBag.Recherche)
        class="btn btn-default @nextDisabled">
        &gt;&gt; 
</a>
